__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

.venv/

.vscode/

data/
outputs/
descargas/
docs/
modelos/
indice/
resultados/

eval_dataset/
dataset.csv
[0-9][0-9]*.json




*.egg-info/
notas.md
reconstruir.py
entrypoint.py
instalar.py
continuar.py
expunge.py
*.log